body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

/*
.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}


.switch {
  width: 3.5em;
  height: 7.5em;
  position: relative;
}

.switch input {
  display: none;
}

.slider {
  width: 3.5em;
  height: 7.5em;
  background: linear-gradient(to right, rgb(219, 219, 219), rgb(164, 164, 164));
  border: 3px solid #000;
  border-bottom: 50px solid #000;
  border-radius: 0.2em;
  position: absolute;
}

.slider:after {
  width: 2.8em;
  content: "";
  background-color: #ea0000;
  border: 2px solid #d80000;
  border-radius: 1.5em;
  position: absolute;
  top: -1em;
  right: 0;
  bottom: 0;
  left: 0.25em;
  coursor: pointer;
  transition: 1s;
  z-index: -1;
}

input:checked + .slider:after {
  transform: translateY(-3em);
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
